<h2>User panel</h2>

<div class="row">
    <div class="col-sm-4">
      <div class="tile purple" ng-click="showSettings()">
        <h3 class="title">Ustawienia</h3>
        <p>Zmiana hasła</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile red" ng-click="showAnalysisResults()">
        <h3 class="title">Analiza</h3>
        <p>Twoje analizy</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile orange" ng-click="showAnalysis()">
        <h3 class="title">Analiza</h3>
        <p>Wyceń przedmiot</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile purple" ng-click="showAuctions()"> 
        <h3 class="title">Twoje aukcje</h3>
        <p>Twoje aukcje</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile green" ng-click="showTriggersResults()">
        <h3 class="title">Śledzenie</h3>
        <p>Twoje wyniki śledzenia</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue" ng-click="showTriggers()">
        <h3 class="title">Śledzenie</h3>
        <p>Rozpocznij nowe śledzenie przedmiotu</p>
      </div>
    </div>
  </div>
</div>