<h2>Reset hasła</h2>

<form name="passwordResetForm" class="center-block">
    <div>
        <h4>Adres email</h4>

        <div class="form-group" ng-class="{'has-error': passwordResetForm.email.$invalid && (passwordResetForm.email.$dirty || submitted)}">
            <input type="email" name="email" class="form-control" ng-model="data.email" placeholder="" required/>
        </div>

        <div class="alert alert-danger" ng-show="passwordResetForm.email.$invalid && (passwordResetForm.email.$dirty || submitted)">
            <ul>
                <li ng-show="passwordResetForm.email.$error.required">To pole jest wymagane</li>
                <li ng-show="passwordResetForm.email.$error.email">Proszę podać poprawny adres email</li>
                <li ng-show="passwordResetForm.email.$error.invalidUser">Niepoprawne dane użytkownika</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-warning btn-default btn-lg" style="width: 100%;" ng-click="resetPassword(passwordResetForm)">
        Resetuj
        </button>
    </div>
    <br/><br/>
</form>