<form name="passwordChangeForm" class="center-block">
    <h4>{{'user.settings.form.change' | translate}}</h4>

    <div class="form-group row" ng-class="{'has-error': passwordChangeForm.password.$invalid && (passwordChangeForm.password.$dirty || submitted)}">
        <label for="password" class="col-sm-2 form-control-label">{{'user.settings.form.password' | translate}}</label>
        <div class="col-sm-10">
            <input id="password" type="password" placeholder="{{'user.settings.form.password' | translate}}" name="password" class="form-control" ng-model="data.password" placeholder="" required/>
        </div>
    </div>
    <div class="form-group row" ng-class="{'has-error': passwordChangeForm.password.$invalid && (passwordChangeForm.password.$dirty || submitted)}">
        <label for="password_repeat" class="col-sm-2 form-control-label">{{'user.settings.form.lastname' | translate}}</label>
        <div class="col-sm-10">
            <input id="password_repeat"  type="password" placeholder="{{'user.settings.form.passwordRepeated' | translate}}" name="password_repeat" class="form-control" ng-model="data.password_repeat" required
                    ui-validate=" '$value==password' "
                    ui-validate-watch=" 'password' "
            />
        </div>
    </div>

    <div class="form-group row">
        <div class="alert alert-danger"
                ui-validate=" '$value==password' "
                ui-validate-watch=" 'password' "
                ng-show="passwordChangeForm.password.$invalid && (passwordChangeForm.password.$dirty || submitted) &&
        !passwordChangeForm.password.$error.invalidUser">
            <ul>
                <li ng-show="passwordChangeForm.password.$error.required">{{'errors.required' | translate}}</li>
                <li ng-show="passwordChangeForm.password.$error.passwordMatch">{{'errors.passwordsNotMatch' | translate}}</li>
            </ul>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-offset-6 col-sm-2 pull-right">
            <button type="submit" class="btn btn-warning btn-default btn-lg" ng-click="changePassword(passwordChangeForm)">
                {{'user.settings.form.save' | translate}}
            </button>
        </div>
    </div>
</form>