<div id="promo-carousel" class="row">
    <uib-carousel interval="5000" no-wrap="false">
        <uib-slide active="slide.active">
            <img style="margin:auto;" ng-src="/static/images/promo_hint.jpg">
            <div class="carousel-caption">
                <h2>Wycena przedmiotu</h2>
                <div class="row">
                    <p>
                        <strong>Zamierzasz wystawić swój przedmiot na Allegro?</strong><br />
                        Z naszym rozwiązaniem:
                    </p>

                    <ul>
                        <li>Zyskasz jak <strong>nawięcej</strong>,</li>
                        <li>Sprzedasz jak <strong>najszybciej</strong>,</li>
                        <li>Zminimalizujesz ryzyko.</li>
                    </ul>
                    <p><a class="btn btn-warning btn-lg" href="#/hint" role="button">SPRAWDŹ &raquo;</a></p>
                </div>
            </div>
        </uib-slide>

        <uib-slide>
            <img style="margin:auto;" ng-src="/static/images/promo_prediction.jpg">
            <div class="carousel-caption">
                <h2>Przewidywanie sprzedaży</h2>
                <div class="row">
                    <p><strong>A może już coś wystawiłeś?</strong></p>

                    <p>
                        Funkcjonalność ta przeznaczona jest dla osób, które <b>wystawiły już</b> swój przedmiot na Allegro.<br />
                        Najważniejszy z wyników analizy to szacunkowe prawdopodobieństwo sprzedaży Twojego przedmiotu.<br />
                        Oprócz tego analiza zawiera również zestaw prosty statystyk oraz kryteriów mających najwyższy wpływ na cenę (podobnie jak w trybie "Przewiduj").<br/><br />
                        <b>Bądź pewien swojego sukcesu !</b>
                    </p>
                </div>
            </div>
        </uib-slide>


        <uib-slide>
            <img style="margin:auto;" ng-src="/static/images/promo_machine_learning.jpg">
            <div class="carousel-caption">
                <h2>Uczenie maszynowe</h2>
                <div class="row">
                    <p>
                        Aby wygenerować wiarygodne wyniki analiz, nasza aplikacja, korzysta z algorytmów rodziny <b><i>maschine learning</i></b>.<br />
                        Są to: wielowymiarowy <b>algorytm Sheparda</b> dla trybu <i>Wyceń</i> oraz <b>maszyna wektorów nośnych</b> dla trybu <i>Przewiduj</i>.
                    </p>
                </div>
            </div>
        </uib-slide>

    </uib-carousel>
</div>


<div class="page-header row">
    <h1>Alle(wy)Cena</h1>
    <h4>Statystycznie gwarantowany sukces Twojej sprzedaży</h4>
</div>

<div class="row">
    <ul>
        <li>Sprzedajesz na Allegro?</li>
        <li>Nie jesteś pewien jak wycenić sprzedawane przedmioty?</li>
        <li>Twoje aukcje nie przynoszą Ci oczekiwanego zysku?</li>
        <li>Nerwowo oczekujesz zakończenia każdej aukcji?</li>
        <li>&raquo; Nasze narzędzie jest stworzone wprost dla Ciebie!</li>
    </ul>
    <strong>Nie bądź jeleniem! - czas na konkretne zarobki z Twoich aukcji na Allegro!</strong><br />
</div>

<div class="row">
    <p>
        Większość programów przeprowadzających analizę danych, jest tworzona przez statystyków dla statystyków.<br />
        Użytkownicy nieposiadający profesjonalnej wiedzy nie są w stanie korzystać z tego typu oprogramowania.<br />
        Nowoczesna aplikacja powinna cechować się prostotą interfejsu i intuicyjnością obsługi,<br />
        nie tracąc przy tym nic ze swej mocy, jaką jest analiza statystyczna. <br />     
        Projektując AlleCenę staraliśmy się wyjść na przeciw temu oczekiwaniu !<br />            
        Nasze rozwiązanie skupia się na wygodzie użytkowania oraz dokładności uzyskiwanych wyników.<br />
    </p>

</div>
